{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<script type="text/javascript">
		var data = {};
	</script>
	{% for chart in charts %}
	<div class="row">
    	<div class="col-md-8">
        	<div data-name="{{chart.name}}" class="chart"></div>
    	</div>
	    <div class="col-md-4">
	        {%crispy chart.form%}
	    </div>
    </div>
    <script type="text/javascript">
    	data["{{chart.name}}"] = {% autoescape off %}{{chart.data}}{% endautoescape %};
    </script>
	{% endfor %}
{% endblock content %}